<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>{% block title %}Poem{% endblock %}</title>
    <link href="{% static 'poem/bower_components/materialize/dist/css/materialize.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'poem/css/style.css' %}" type="text/css" media="screen" />
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'poem/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'poem/bower_components/materialize/dist/js/materialize.min.js' %}"></script>
    <script src="{%  static 'poem/js/init.js' %}"></script>
  </body>
</html>
