{% extends "poem/layout_page.html" %}
{% load i18n %}
{% load static %}

{% block main %}
<div id="app">not rendered..</div>
<form method="POST" id="poem" action="{% url 'poem:publish'  %}">
  {% csrf_token %}
  <span>{% trans "Title" %}</span>
  <input name="title" type="text" value=""/>

  <div id="type"></div>
  <textarea cols="30"  name="content" rows="10"></textarea>
  <input  type="submit" value="Publish"/>
</form>
{% endblock main %}

{% block extra-script %}

<script type="text/javascript"> var types ={{ types_json|safe }} ; console.log(types)</script>
<script src="{% url 'javascript-catalog'  %}"></script>
<script src="{% static 'poem/dist/create-bundle.js' %}"></script>
{% endblock extra-script %}
